<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= userRole == "admin" ? "Admin Dashboard" : "User Profile" %>
    </title>
    <%- include('layouts/head.ejs'); -%>

    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="/css/account.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Header -->
    <%- include('layouts/header.ejs'); -%>

    <!-- Main -->
    <main>
      <!-- Dashboard Section -->
      <div class="mainAcc" id="account-cards" data-user-role="<%= userRole %>">
        <% if(userRole == "admin") { %> <%-
        include('layouts/Account/dashboardAdmin.ejs'); -%>

        <!-- Add Product Dialog Form -->
        <%- include('layouts/Shop/dialogAdd.ejs'); -%>

        <!-- Edit Product Dialog Form -->
        <%- include('layouts/Shop/dialogEdit.ejs'); -%>

        <!-- ADd Partner Dialog Form -->
        <%- include('layouts/Account/dialogAddPartner.ejs'); -%>

        <!-- Edit Partner Dialog Form -->
        <%- include('layouts/Account/dialogEditPartner.ejs'); -%> <%} else { %>
        <%- include('layouts/Account/dashboardUser.ejs'); -%> <% } %>
      </div>
    </main>

    <!-- Footer -->
    <%- include('layouts/footer.ejs'); -%>

    <!-- Script -->
    <script src="/js/account.js" type="module"></script>

    <!-- Font Awesome -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
