<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shop</title>
    <%- include('layouts/head.ejs'); -%>

    <!-- CSS -->

    <link rel="stylesheet" type="text/css" href="/css/shop.css" />
  </head>

  <body>
    <!-- Header -->
    <%- include('layouts/header.ejs'); -%>

    <!-- Main -->
    <main>
      <div class="shop container-fluid py-5 px-5">
        <h3 class="text-center text-uppercase fw-bold mb-5">
          <span class="text-success">All</span> Products
        </h3>
        <hr />

        <div class="mb-5">
          <div class="col-md-10 col-lg-8 sidebar container-fluid">
            <div class="sidebar-box search-form-wrap">
              <form class="search-form">
                <div class="form-group">
                  <i class="fa fa-search icon" aria-hidden="true"></i>
                  <input
                    type="text"
                    class="form-control"
                    id="s"
                    placeholder="Search products..."
                  />
                </div>
              </form>
            </div>

            <div class="row my-3 mx-1">
              <div
                class="col d-flex justify-content-center gap-2"
                id="filterSortFeature"
              >
                <button type="button" class="btn btn-primary text-dark">
                  Nike
                </button>
                <button type="button" class="btn btn-primary text-dark">
                  Adidas
                </button>
                <button type="button" class="btn btn-primary text-dark">
                  Reebok
                </button>
                <button type="button" class="btn btn-primary text-dark">
                  Vans
                </button>
                <select name="sorting" id="sortFeature">
                  <option value="" disabled selected>Sort by</option>
                  <option value="alphabet">A-Z</option>
                  <option value="lowPrice">Low Price</option>
                  <option value="highPrice">High Price</option>
                  <option value="rate">Rating</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <!-- Product Cards -->
        <div
          class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-5 row-cols-xl-5 gap-4 gap-md-4 d-flex justify-content-center"
          id="shop-cards"
          data-user-role="<%= userRole %>"
        ></div>
      </div>

      <!-- Add Product Button -->
      <% if(userRole === "admin") { %>
      <button type="button" class="addProduct">
        <i class="fa-solid fa-plus"></i>
      </button>
      <% } %>

      <!-- Add Product Dialog Form -->
      <%- include('layouts/Shop/dialogAdd.ejs'); -%>

      <!-- Edit Product Dialog Form -->
      <%- include('layouts/Shop/dialogEdit.ejs'); -%>
    </main>

    <!-- Footer -->
    <%- include('layouts/footer.ejs'); -%>

    <!-- Script -->
    <script src="/js/shop.js" type="module"></script>
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/542fabac84.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
